# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environmental
.env
.env.local

# OS specific
.DS_Store
Thumbs.db